.qr-section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border-radius: 1em;
  border: 3px solid white;
}

img {
  border-radius: .8em;
 
}

h1 {
  color: hsl(228, 45%, 44%);
  font-size: 19px;
  font-weight: bold;
  
}